@charset "UTF-8";
@keyframes test {}
main {
  position: relative;
  width: 100%;
}
main .page-area {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: End;
  align-items: center;
}
main .page-area .page {
  height: 20px;
  padding-right: 5%;
  font-size: 16px;
}
main .page-area .page a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
main .page-area .page a:hover {
  border-bottom: solid black;
  transition: 0.1s linear;
}
main .hr-head {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 60px;
  margin: auto;
}
main .hr-head p {
  font-size: 24px;
  font-weight: bold;
  font-family: none;
  color: black;
}
main .hr-head p::before {
  content: "———";
}
main .hr-head p::after {
  content: "———";
}
main .product-sheet-area {
  width: 961px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 60px 72px;
}
main .product-sheet-area .product-series {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: none;
  font-family: "Inter";
  color: black;
}
main .product-card-area {
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin: auto;
}
main .product-card-area .product-card {
  width: 275px;
  height: auto;
}
main .product-card-area .product-card:hover .img-container {
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: linear;
  transform: scale(1.1);
}
main .product-card-area .product-card .img-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
main .product-card-area .product-card .img-container img {
  width: 100%;
  height: 100%;
}
main .product-card-area .product-card .product-name {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0 56px;
  text-align: center;
}
main .product-card-area .product-card .product-name h3 {
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: rgb(107, 78, 38);
}
main #order-btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 110px;
}
main #order-btn a {
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 15px;
  background-color: #eeb8af;
}
main .product-detail-area {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
main .product-detail-area .product-detail-opacity {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: gray;
}
main .product-detail-area .product-detail-card-container {
  width: 580px;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 6;
}
main .product-detail-area .product-detail-card-container .product-detail-card {
  width: 100%;
  height: auto;
  position: relative;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 25px;
  color: white;
  z-index: 5;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-img {
  width: 580px;
  height: 335px;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-img img {
  width: 100%;
  height: 100%;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 43px 23px;
  font-size: 18px;
  font-weight: bold;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 41px 33px;
  padding: 7px 16px 27px;
  font-size: 16px;
  font-weight: bold;
}

.block-display {
  display: block !important;
}

.block-hidden {
  display: none !important;
}

.bg-pink {
  background-color: #eeb8af;
}

.bg-white {
  background-color: white;
}

@media screen and (min-width: 851px) and (max-width: 1100px) {
  main .product-sheet-area {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
  }
  main .product-sheet-area .product-series {
    width: 200px;
    height: 50px;
  }
  main .product-card-area {
    width: 80%;
    height: auto;
  }
  main .product-card-area .product-card {
    width: 275px;
    height: 410px;
    margin: 0 10px;
  }
}
@media screen and (min-width: 721px) and (max-width: 850px) {
  main .product-sheet-area {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
  }
  main .product-sheet-area .product-series {
    width: 200px;
    height: 50px;
  }
  main .product-card-area {
    width: 80%;
    height: auto;
    padding-bottom: 200px;
  }
  main .product-card-area .product-card {
    width: 200px;
    height: 335px;
    margin: 0 30px;
  }
  main .product-card-area .product-card .img-container {
    width: auto;
    height: auto;
  }
  main .product-card-area .product-card .img-container img {
    object-fit: contain;
  }
}
@media screen and (min-width: 541px) and (max-width: 720px) {
  main .product-sheet-area {
    width: 80%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .product-sheet-area .product-series {
    width: 200px;
    height: 50px;
  }
  main .product-card-area {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding-bottom: 200px;
  }
  main .product-card-area .product-card {
    width: 165px;
    height: auto;
    margin: 0 50px;
  }
  main .product-card-area .product-card .img-container {
    width: auto;
    height: auto;
  }
  main .product-card-area .product-card .img-container img {
    object-fit: contain;
  }
  main .product-detail-area .product-detail-card-container {
    width: 300px;
    height: 450px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-img {
    width: 300px;
    height: 250px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text {
    width: 300px;
    height: 200px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-name {
    width: 153px;
    height: 17px;
    font-size: 14px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-content {
    width: 256px;
    height: 72px;
    font-size: 14px;
  }
}
@media screen and (min-width: 431px) and (max-width: 540px) {
  main .product-sheet-area {
    width: 80%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .product-sheet-area .product-series {
    width: 200px;
    height: 50px;
  }
  main .product-card-area {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding-bottom: 200px;
  }
  main .product-card-area .product-card {
    width: 165px;
    height: auto;
    margin: 0 10px;
  }
  main .product-card-area .product-card .img-container {
    width: auto;
    height: auto;
  }
  main .product-card-area .product-card .img-container img {
    object-fit: contain;
  }
  main .product-detail-area .product-detail-card-container {
    width: 300px;
    height: 450px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-img {
    width: 300px;
    height: 250px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text {
    width: 300px;
    height: 200px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-name {
    width: 153px;
    height: 17px;
    font-size: 14px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-content {
    width: 256px;
    height: 72px;
    font-size: 14px;
  }
}
@media screen and (max-width: 430px) {
  main .product-sheet-area {
    width: 80%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .product-sheet-area .product-series {
    width: 200px;
    height: 50px;
  }
  main .product-card-area {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    padding-bottom: 200px;
  }
  main .product-card-area .product-card {
    width: 165px;
    height: auto;
  }
  main .product-card-area .product-card .img-container {
    width: auto;
    height: auto;
  }
  main .product-card-area .product-card .img-container img {
    object-fit: contain;
  }
  main .product-detail-area .product-detail-card-container {
    width: 300px;
    height: 450px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-img {
    width: 300px;
    height: 250px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text {
    width: 300px;
    height: 200px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-name {
    width: 153px;
    height: 17px;
    font-size: 14px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-content {
    width: 256px;
    height: 72px;
    font-size: 14px;
  }
}/*# sourceMappingURL=product.css.map */