// -- Define variable --
$grey-9: #dcdcdc;
$grey-8: #c2c2c2;
$grey-7: #969696;
$grey-6: #7e7e7e;
$grey-5: #555;
$grey-3: #393939;
$grey-2: #242424;
$grey-1: #121212;
$redwine: #901111;
$logo_color: rgb(141, 215, 204);
$darkgold: rgb(107, 78, 38);
// -- End of variable --

// -- animation
@keyframes test {}


// -- Define mixin --
@mixin dimension($w, $h) {
  width: $w;
  height: $h;
}

// width, height 
@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin flex-row($main, $sub) {
  display: flex;
  justify-content: $main;
  align-items: $sub;
}

// justify-content, align-items
@mixin flex-col($main, $sub) {
  display: flex;
  flex-direction: column;
  justify-content: $main;
  align-items: $sub;
}

// justify-content, align-items
@mixin image($uri) {
  background-image: url($uri);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin keyframe($animation_name, $animation_duration, $animation_count, $animation_time_function) {
  animation-name: $animation_name;
  animation-duration: $animation_duration;
  animation-iteration-count: $animation_count;
  animation-timing-function: $animation_time_function;
}

@mixin transition($transition_time, $transition_delay, $transition_funtion) {
  transition-duration: $transition_time;
  transition-delay: $transition_delay;
  transition-timing-function: $transition_funtion;

}

@mixin background($bgcolor) {
  background-color: $bgcolor;
}


@mixin font($size, $weight, $family, $color) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  color: $color;
}


// -- End of mixin --

a {
  text-decoration: none;
  color: unset;
}

main {
  width: 100%;
  @include flex-col(center, center);

  .page-area {
    width: 1100px;
    margin-top: 40px;

    li {
      @include flex-row(flex-end, center);
      // background-color: $grey-7;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;

      span {
        padding: 0 11px;

        a {
          border-bottom: 2px solid transparent;
          margin-top: 3px;

          // color: black;
          &:hover {
            border-bottom: solid black;
            transition: 0.1s linear;
          }
        }
      }
    }
  }

  .phone_title {
    height: 100%;
    li {
      @include flex-row(center, center);
      font-weight: 700;
      margin-top: 118px;

      span {
        letter-spacing: 10px;
        padding: 0px 10px;
        text-align: center;
        font-size: 18px;
      }
    }
  }


  .news-container {
    @include dimension(1090px, 100%);
    margin: 91px auto 221px;
    // background-color: $grey-9;

    .news-card:nth-of-type(2){
      margin-top: 150px;
    }

    .news-card:nth-of-type(3){
      margin-top: 150px;
    }

    .news-card {
      @include dimension(100%, 402px);
      @include flex-row(center, flex-start);
      // background-color: $grey-8;
      border: 2px solid $logo_color;

      .news-info {
        @include dimension(555px, 402px);
        // background-color: $grey-7;


        .news-date {
          @include dimension(95px, 50px);
          background-color: $logo_color;
          @include flex-row(center, center);
          transform: translate(50%, 0);
          z-index: 1;
        }

        .news-text {
          @include dimension(453px, 155px);
          margin: 90px 0 22px 10%;
          // background-color: $grey-7;

          .news-text-title {
            @include dimension(80%, 20px);
            margin-bottom: 32px;
            // background-color: #555;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
          }

          .new-text-content {
            @include dimension(440px, 94px);
            // background-color: #901111;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            overflow: hidden;
          }
        }

        .news-date-duration-box {
          @include flex-row(space-between, center);
          padding: 30px 10%;
          @include dimension(100%, 17px);

          .news-date-duration {
            @include dimension(160px, 17px);
            // background-color: blue;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
          }

          .news-btn-area {
            @include dimension(45%, 17px);
            @include flex-row(flex-end, center);
            border-radius: 10px;
            color: $logo_color;
            padding-right: 10px;

            &:hover {
              transform: translateX(2em);
              @include transition(0.5s, 0s, linear);
            }

            span:nth-of-type(1) {
              width: 100px;
              font-size: 30px;
            }

            span:nth-of-type(2) {
              font-size: 25px;
            }
          }
        }
      }

      .news-img {
        @include dimension(535px, 398px);
        background-color: $grey-3;

        img {
          @include dimension(100%, 100%);
        }

        .news-img-date {
          opacity: 0;
          @include dimension(95px, 50px);
          background-color: $logo_color;
          @include flex-row(center, center);
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  main {
    .page-area {
      width: 99%;
      padding: 0 5%;

      .page {
        @include flex-row(center, center);
      }
    }
  }
}

@media (max-width: 1240px) {
  main {

    .news-container {
      @include dimension(90%, 100%);

      .news-card {
        .news-info {
          width: 50%;

          .news-text {
            @include dimension(90%, 155px);

            .new-text-content {
              width: 90%;
            }
          }
        }

        .news-img {
          width: 50%;
        }
      }
    }
  }
}

// @media (max-width: 1080px) {
//   main{
//     .page-area{
//       width: 1000px;
//     }
//   }
// }


@media (max-width: 720px) {
  main {
    .page-area {
      display: none;
    }

    .phone_title {
      padding: 78px 0;
    }

    .news-container {
      @include flex-col(unset, center);
      @include dimension(95%, 80%);

      .news-card {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @include dimension(360px, 450px);

        .news-info {
          @include dimension(90%, 180px);

          .news-date {
            opacity: 0;
          }

          .news-text {
            margin: 23px 0 23px 30px;
            transform: translateY(-35%);

            .news-text-title {
              height: 20px;
              margin-bottom: 23px;
              font-size: 16px;
              line-height: 20px;
            }

            .new-text-content {
              @include dimension(95%, 61px);
              font-size: 14px;
              -webkit-line-clamp: 3;
            }
          }

          .news-date-duration-box {
            @include dimension(95%, 17px);
            transform: translateY(-300%);
            padding: 11px 0px 26px 30px;
          }
        }

        .news-img {
          width: 100%;
          height: 270px;
          position: relative;

          img {
            height: 270px;
          }

          .news-img-date {
            opacity: 1;
            position: absolute;
            top: 0;
            left: 10%;
          }
        }
      }
    }
  }
}